h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

p {
  color: #8f8f8f;
}
/* Headings */

.big-heading {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Container */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.coloured-section {
  background-color: #ff4c68;
  color: white;
}

.white-section {
  background-color: white;
}

/* Title Section */
/* Parent then child */
#title .container-fluid {
  padding: 3% 15% 7%;
  position: relative;
  z-index: 0;
  text-align: left;
}

/* There's also another syntax without space, e.g. #title.container-fluid */
/* This means look for an ID with title AND the class container-fluid */
/* The previous one says id = title as parent, .container-fluid as child */


/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: Ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 30%;
  /* title image is really big so absolute will simply remove it out of the flow  */
  /* position is still retained however */
  /* Also note that if you do z-index of -1, it will be behind everything as the default is 0 */
}

/* Features */
#features {

  position: relative;
  /* Actually you don't have to specify the z index because the features is below the title in the html code  */
  z-index: 1;
}

.feature {
  padding: 5%;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #ff4c68;
}

/* Testimonials */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  margin: 20px 20px 50px;
  width: 15%;
}

/* Pricing */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* the type can be a bit confusing. max-width here means if it's less than 1028 px */
@media (max-width: 991px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0deg);
  }
}

/* Footer */

#footer {
  background-color: white;
  padding: 5% 15%;
}

.fa-footer-icon {
  display: inline-block;
  margin: 10px 15px;
}
