<%- include("partials/header") -%>

<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <div class="form-group" id="post">
    <!-- <p><strong>Title</strong></p> -->
    <label>Title</label>
    <input class="form-control" type="text" name="postTitle" placeholder="Enter title">
    <label>Post</label>
    <textarea class="form-control" name="postBody" placeholder="Enter your post" rows="5" cols="10"></textarea>
  </div>
  <button class="btn btn-primary" type="submit" name="publish">Publish</button>
</form>

<%- include("partials/footer") -%>
