body {
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h1 {
  font-family: 'Sacramento', cursive;
  margin: auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

p {
  margin: auto;
}

.top-cloud {
  display: block;
  margin: auto;
  margin-right: 0;
}

.bottom-cloud {
  display: block;
  margin: auto;
  margin-left: 0;
}

.mountain{
  display: block;
}

.top-container {
  background-color: #dcedc2;
  padding-top: 10px;
}

.top-elements {
  display: inline-block;
  position: relative;
}

.middle-container {
}

.picture {
  border-radius: 25%;
  width: 25%;
  height: 25%;
  margin: 10px auto 0px auto;
}

.bottom-container {
}
